<!DOCTYPE html>
<html>
<head>
	<title>MAIN</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<div id="container">
		<div id = "letterBlk">
			<div id='letters'>
				<center>
					<span id="i0" class="letter">H</span>
					<span id="i1" class="letter">H</span>
					<span id="i2" class="letter">H</span>
					<span id="i3" class="letter">H</span>
					<span id="i4" class="letter">H</span>
					<span id="i5" class="letter">H</span>
					<span id="i6" class="letter">H</span>
					<span id="i7" class="letter">H</span>
					<span id="i8" class="letter">H</span>
					<span id="i9" class="letter">H</span>
				</center>
			</div>
			<div id="index">
				<center>
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
					<span>6</span>
					<span>7</span>
					<span>8</span>
					<span>9</span>
					<span>10</span>
				</center>
			</div>
		</div>
		<div id='buttons'>
			<center>
			<span id='mine'>MINE</span>
			<span id='ledger'>LEDGER</span>
			</center>
		</div>
	</div>

<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>