<!DOCTYPE html>
<html>
<head>
	<title>MINE MINE MINE</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body>
	<div id="container">
		<div id='letters'>
			<center>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
				<span class="letter">H</span>
			</center>
		</div>
		<div id='buttons'>
			<center>
			<span id='mine'>MINE</span>
			<span id='ledger'>LEDGER</span>
			</center>
		</div>
	</div>

<script type="text/javascript" src="script.js"></script>
</body>
</html>