<!DOCTYPE html>
<html>
<head>
	<title>MAIN</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
</head>
<body>
	<div id="container">
		<div id='letters'>
			<center>
				<span id="1" class="letter">H</span>
				<span id="2" class="letter">H</span>
				<span id="3" class="letter">H</span>
				<span id="4" class="letter">H</span>
				<span id="5" class="letter">H</span>
				<span id="6" class="letter">H</span>
				<span id="7" class="letter">H</span>
				<span id="8" class="letter">H</span>
				<span id="9" class="letter">H</span>
				<span id="10" class="letter">H</span>
			</center>
		</div>
		<div id='buttons'>
			<center>
			<span id='mine'>MINE</span>
			<span id='ledger'>LEDGER</span>
			</center>
		</div>
	</div>

<script type="text/javascript" src="script.js"></script>
</body>
</html>