<!DOCTYPE html>
<html>
<head>
	<title>LEDGER</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/ledger.css">
</head>
<body>
	<h1 style="cursor:pointer" onclick="window.location='https://hr-blockboard.herokuapp.com'">BLOCK LEDGER</h1>
	<table class="tg" id="myTable">
	  <tr>
	    <th class="tg-rd2y">id</th>
	    <th class="tg-yw4l">Hash</th>
	    <th class="tg-yw4l">Name</th>
	    <th class="tg-yw4l">Char</th>
	    <th class="tg-yw4l">Index</th>
	    <th class="tg-yw4l">TimeStamp</th>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-b7b8"></td>
	  </tr>
	</table>
	<script type="text/javascript" src="/javascripts/ledger.js"></script>
</body>
</html>