<!DOCTYPE html>
<html>
<head>
	<title>MINE</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mine.css">
</head>
<body>
	<div id="title">MINE FOR THE BOARD</div>
	<div id = "letterBlk">
		<div id='letters'>
			<center>
				<span id="i0" class="letter">H</span>
				<span id="i1" class="letter">H</span>
				<span id="i2" class="letter">H</span>
				<span id="i3" class="letter">H</span>
				<span id="i4" class="letter">H</span>
				<span id="i5" class="letter">H</span>
				<span id="i6" class="letter">H</span>
				<span id="i7" class="letter">H</span>
				<span id="i8" class="letter">H</span>
				<span id="i9" class="letter">H</span>
			</center>
		</div>
		<div id="index">
			<center>
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span>7</span>
				<span>8</span>
				<span>9</span>
				<span>10</span>
			</center>
		</div>
	</div>
	<div id="nameBlk">
		<h2>YOUR NAME</h2>
		<input type="text" name="name" id="name" placeholder="NAME">
	</div>
	<div id="indexAndCharBlk">
		<span id="indexBlk">
			<h3>Index</h3>
			<select name="index">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</span>
		<span id="charBlk">
			<h3>Character</h3>
			<input type="text" name="char" placeholder="ANY CHAR U WANT">
		</span>
	</div>
	<div id='mineBtn'>
		<button>MINE</button>
	</div>
	<script type="text/javascript" src"/javascripts/sha256.js"></script>
	<script type="text/javascript" src="/javascripts/mine.js"></script>
</body>
</html>