<!DOCTYPE html>
<html>
<head>
	<title>MINE</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/mine.css">
</head>
<body>
	<div id="title">MINE FOR THE BOARD</div>
	<div id = "letterBlk">
		<div id="letters"></div>
		<div id="index"></div>
	</div>
	<div id="nameBlk">
		<h2>YOUR NAME</h2>
		<input type="text" name="name" id="name" placeholder="NAME">
	</div>
	<div id="indexAndCharBlk">
		<span id="indexBlk">
			<h3>Index</h3>
			<select name="index">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
		</span>
		<span id="charBlk">
			<h3>Character</h3>
			<input type="text" name="char" placeholder="ANY CHAR U WANT">
		</span>
	</div>
	<div id='mineBtn'>
		<button>MINE</button>
	</div>
</body>
</html>